# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# IDEs / Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
docker_build_output.log

# Temporary
fix_db.py

# Build/Compiled folders
backend/target/
frontend/dist/
frontend/node_modules/
frontend/.angular/
frontend/coverage/
ai-chatbot/venv/
